/* universal code */
html{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

ul{
    list-style-type: none;
}


/* navigation menu */
nav{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    height: 69px;
    border-bottom:1px solid seashell;
    display: block;
}

nav li{
    height: 50px;
    float: right;
    margin:0 20px;
    text-decoration: underline;
}

nav li a{
    color: seashell;
}

nav li a:hover{
    color: whitesmoke;
}

nav img{
    float: left;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}

/* header */
header{
    width: 1200px;
    height: 700px;
    padding: 0;
    margin: 0 auto;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    display: flex;
    align-items: center;
}

#mission{
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

/* Tea section */
#tea{
    width: 1000px;
    margin: 0 auto;
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images figure{
    padding: 5px;
    margin: 10px;
}

.images img{
    width: 300px;
    height: 200px;
}

.images figcaption{
    margin-top: 10px;
    padding: 0;
}

/* locations */
#locations{
    width: 1200px;
    height: 500px;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    margin: 50px 0 auto;
    display: inline-block;
}
#locations #location-title{
    margin: 80px auto 15px;
}
#locations ul h3{
    margin-bottom: 40px;
}

.location{
    background-color: black;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    width: 300px;
    height: 62%;
    margin: 0 20px;
}

.location ul{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.location li{
    margin-top: 40px;
}