/* universal code */
html{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

ul{
    list-style-type: none;
}


/* navigation menu */
nav{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    height: 69px;
    border-bottom:1px solid seashell;
    display: block;
}

nav li{
    height: 50px;
    float: right;
    margin:0 20px;
    text-decoration: underline;
}

nav li a{
    color: seashell;
}

nav li a:hover{
    color: whitesmoke;
}

nav img{
    float: left;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}

/* header */
header{
    width: 1200px;
    height: 700px;
    padding: 0;
    margin: 0 auto;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    display: flex;
    align-items: center;
}

#mission{
    width: 100%;
    margin: 0 auto;
    background-color: black;
}